body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(253, 244, 224);
    color: rgb(59, 59, 59);
}

body > div {
    margin: 50px 10px;
}

ul {
   color: rgb(161, 120, 16);
   list-style-type:square;
}


a:link {
    text-decoration: none;
    color: darkred;
}
a:visited {
    color: brown;
}
a:hover {
    color:goldenrod
}

.banner {
    text-align: center;
    color: rgb(253, 244, 224);
    background-image: url(../assets/img/books.png);
    font-size: xxx-large;
    padding: 15px 0;
    margin: auto -10px;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
}

.quote {
    text-align: center;
    font-style: italic;
}

.small {
    font-size: smaller;
    font-weight: normal;
    color: rgb(59, 59, 59);
}

.right {
    text-align: right;
    background-color: goldenrod;
    margin: -10px;
    padding: 20px;
}

.rightimg {
    display: flex;
    gap: 15px;
}

.rightimg div p {
    margin-top: 0;
}

.customnav {
    text-align: center;
    background-color: darkgrey;
    margin: auto -10px;
    padding: 10px;
}